build
build-d64
build.eclipse
build.number
.metadata
.DS_Store
bin
jna-office/bin
jna-office/.settings
jna-office/.classpath
jna-office/.project
doc
*~
**/*~
dist/*.asc
dist/*-sources.jar
dist/*-javadoc.jar
dist/src-mvn.zip
dist/out-of-date.jar
